.navbar {
    position: fixed;
    background: #111827;
    transition: background 400ms ease-in-out;
    padding: 10px 6px;
    height: 120px;
    width: 100%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.navbar_sticky {
    transition: background 400ms ease-in-out;
    background: #111827bd;
}